JWT_SECRET=
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/InventorymDB?retryWrites=true&w=majority
SMTP_SERVICE=gmail
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
