JWT_SECRET=
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/InventorymDB?retryWrites=true&w=majority
MONGODB_DIRECT_URI=
SMTP_SERVICE=gmail
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
PROMAILER_API_KEY=
PROMAILER_API_URL=
PROMAILER_CONNECTION_ID=
PROMAILER_FROM=
